
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/* For use in _color-definitions.scss */

$palette-green:
rgb(226, 235, 232)
rgb(184, 205, 198)
rgb(136, 171, 160)
rgb(88, 137, 121)
rgb(53, 112, 93)
rgb(17, 87, 64)
rgb(15, 79, 58)
rgb(12, 70, 50)
rgb(10, 60, 42)
rgb(5, 44, 28)
rgb(102, 255, 184)
rgb(51, 255, 160)
rgb(0, 255, 136)
rgb(0, 230, 122)
;

$palette-green-50: nth($palette-green, 1);
$palette-green-100: nth($palette-green, 2);
$palette-green-200: nth($palette-green, 3);
$palette-green-300: nth($palette-green, 4);
$palette-green-400: nth($palette-green, 5);
$palette-green-500: nth($palette-green, 6);
$palette-green-600: nth($palette-green, 7);
$palette-green-700: nth($palette-green, 8);
$palette-green-800: nth($palette-green, 9);
$palette-green-900: nth($palette-green, 10);
$palette-green-A100: nth($palette-green, 11);
$palette-green-A200: nth($palette-green, 12);
$palette-green-A400: nth($palette-green, 13);
$palette-green-A700: nth($palette-green, 14);


$palette-gold:
rgb(247, 243, 235)
rgb(234, 224, 206)
rgb(220, 203, 173)
rgb(206, 182, 140)
rgb(196, 167, 116)
rgb(185, 151, 91)
rgb(178, 143, 83)
rgb(170, 132, 73)
rgb(162, 122, 64)
rgb(147, 105, 47)
rgb(255, 238, 218)
rgb(255, 216, 167)
rgb(255, 193, 116)
rgb(255, 182, 90)
;

$palette-gold-50: nth($palette-gold, 1);
$palette-gold-100: nth($palette-gold, 2);
$palette-gold-200: nth($palette-gold, 3);
$palette-gold-300: nth($palette-gold, 4);
$palette-gold-400: nth($palette-gold, 5);
$palette-gold-500: nth($palette-gold, 6);
$palette-gold-600: nth($palette-gold, 7);
$palette-gold-700: nth($palette-gold, 8);
$palette-gold-800: nth($palette-gold, 9);
$palette-gold-900: nth($palette-gold, 10);
$palette-gold-A100: nth($palette-gold, 11);
$palette-gold-A200: nth($palette-gold, 12);
$palette-gold-A400: nth($palette-gold, 13);
$palette-gold-A700: nth($palette-gold, 14);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$AngularStarter-primary: mat.define-palette(mat.$palette-green);
$AngularStarter-accent: mat.define-palette(mat.$palette-gold, A200, A100, A400);

// The warn palette is optional (defaults to red).
$AngularStarter-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$AngularStarter-theme: mat.define-light-theme((
  color: (
    primary: $AngularStarter-primary,
    accent: $AngularStarter-accent,
    warn: $AngularStarter-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($AngularStarter-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
