
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$md-green: (
    50 : #e2ebe8,
    100 : #b8cdc6,
    200 : #88aba0,
    300 : #588979,
    400 : #35705d,
    500 : #115740,
    600 : #0f4f3a,
    700 : #0c4632,
    800 : #0a3c2a,
    900 : #052c1c,
    A100 : #66ffb8,
    A200 : #33ffa0,
    A400 : #00ff88,
    A700 : #00e67a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-gold: (
    50 : #f0eee9,
    100 : #dbd4c7,
    200 : #c3b7a2,
    300 : #aa9a7d,
    400 : #988561,
    500 : #866f45,
    600 : #7e673e,
    700 : #735c36,
    800 : #69522e,
    900 : #56401f,
    A100 : #ffd397,
    A200 : #ffbe64,
    A400 : #ffa831,
    A700 : #ff9d18,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$AngularStarter-primary: mat.define-palette($md-green);
$AngularStarter-accent: mat.define-palette($md-gold, A200, A100, A400);

// The warn palette is optional (defaults to red).
$AngularStarter-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$AngularStarter-theme: mat.define-light-theme((
  color: (
    primary: $AngularStarter-primary,
    accent: $AngularStarter-accent,
    warn: $AngularStarter-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($AngularStarter-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

